<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Registration</display-name>
  <context-param>
    <param-name>ADMIN_ROLE_ID</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>SUPER_USER_ROLE_ID</param-name>
    <param-value>2</param-value>
  </context-param>
  <context-param>
    <param-name>STANDARD_ROLE_ID</param-name>
    <param-value>3</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.madigan.michael.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.madigan.michael.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/mydb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>AddRole</display-name>
    <servlet-name>AddRole</servlet-name>
    <servlet-class>com.madigan.michael.AddRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRole</servlet-name>
    <url-pattern>/AddRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserForRole</display-name>
    <servlet-name>GetUserForRole</servlet-name>
    <servlet-class>com.madigan.michael.GetUserForRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserForRole</servlet-name>
    <url-pattern>/GetUserForRole</url-pattern>
  </servlet-mapping>
</web-app>